<%= form_tag articles_path do %>
  <label>Article title:</label><br>
  <p><%= text_field_tag :title %></p><br>

  <label>Article Description</label><br>
  <%= text_area_tag :description %><br>

  <%= submit_tag "Submit Article" %>
<% end %>